/* profile.css */

.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
.checkout-section, .cart-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.checkout-form, .checkout {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.checkout-form p, .checkout-form strong, .checkout-form label {
    font-size: 16px;
    color: #555;
}

.checkout-form p {
    margin-bottom: 10px;
}

.checkout-form strong {
    font-weight: 600;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.list-group-item strong {
    font-size: 16px;
}

.list-group-item .badge {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.badge-primary {
    background-color: #007bff;
}

.badge-success {
    background-color: #28a745;
}

.badge-primary:hover, .badge-success:hover {
    opacity: 0.8;
}
